
<header>
  
    <div class="container-fluid ">
      <div id="header-desc" class="row px-3">
        <div class="header-info col-lg-5 col-md-12 col-sm-12 col-12 d-flex align-items-center  justify-content-center py-5 px-2">
            <div class="w-100">
                  <!--
                    <p class="top-title">learn a new skill online, on your time</p>
                -->
      
                <h1 class="top-title w-100 ">REACH THE <br> BEST VERSION OF YOURSELF</h1>
                <p class="description">Embark on a lifelong journey of self-realization,
                  spiritual, personal and professional growth through the help of our elite experts.</p>
              
                <button class="button">Start My Journey</button>
                <div class="header-icons">
                    
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-linkedin-in"></i>
                  <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <video id="header-video" src="assets/vid.mp4" controls></video>
        </div>
    </div>
    </div>
 
</header>
