.work-section{
    width: 100%;
    height: max-content;
    background-image: url(/assets/images/featured.png);
    background-position: 100% 50%;
    background-size: cover;
    
    background-repeat: no-repeat;
    position: relative;
}

.work-title{
    line-height: 50px;
    font-family: poppins;
    font-size: 52px;
    float: right;
    font-weight: 700!important;
    color: #292929;
    margin: 15px 0;
  
    position: absolute;
    top:0;
    right:50px;
}

.work-title::before{
    content:'';
    width: 70% !important;
    height: 28px !important;
    background-color: #eb7720;
    position: absolute;
    left:-100px;
    bottom:-8px;
    z-index: -999;
  }